<p style="margin-left: 150px; margin-top: 30px ;"><a style="text-decoration: none" href="" routerLink="/products">Trang Chủ </a>> Chi tiết</p>
<!-- <h1 *ngFor="let item of products">{{item.name}}</h1> -->
<div class="main">
  <div class="left">
    <img width="100%" height="459px" src="{{product.picture}}" alt="">
  </div>
  <div class="middle"></div>
  <div class="right">
    <div class="top" >
      <h2 style=" text-transform: uppercase; color: chocolate;">{{product.name}}</h2>
      <p style="color: rgb(155, 6, 6); font-size: 25px; margin-left: 10px;">{{product.price}}$ <s style="color: gray; font-size: 15px;">{{product.price_sale}}$</s></p>
      - Hệ thống camera được nâng cấp <br>
      - Chơi game mượt mà với chip A15 Bionic, GPU 5 lõi mới <br>
      - Tần số quét 120 Hz, độ sáng 1200 nits
    </div>
    <div class="bottom">
      <h3 style="text-align: center; color: rgb(139, 9, 9)">CAM KẾT</h3>
      - Hư gì đổi nấy trong 15 ngày nếu lỗi do nhà sản xuất <br>
      - Không áp dụng chung với khuyến mãi khác. <br>
      - Khuyến mãi chưa bao gồm phí giao/chuyển hàng.<br><br>
      <button style="width: 400px; height: 45px; margin-left: 15px; " class="btn btn-danger">MUA NGAY</button>
      <br>
      <br>
      <button style="width: 400px; height: 45px; margin-left: 15px; " class="btn btn-success">TRẢ GÓP QUA THẺ</button>

    </div>
  </div>
</div>
