
.table {
  padding-top: 20px;
}
table {

  width: 80%;
  height: auto;
  border: 1px solid black;
  display: block;
  margin: auto;
}
tr{
  border: 1px solid black;
  height: 200px;
  text-align: center;
}
td{
  text-align: center;
}
